<div class="conatainer">
    <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="text-center">
                <h1>sign up</h1>
                <h6>register yourself</h6>
            </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">full name</label>
                        <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">mobile number</label>
                        <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">sign up</button>
                  </form>
                  <a style="color:#fff;margin-top: 10px;" routerLink="/login">alreday registered? click to login!!</a>
            </div>
        </div>
    </div>
</div>