<div mat-dialog-title>
    <h1>journaliste </h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormsubmit()">
 <div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label> author first name</mat-label>
            <input matInput type="text" placeholder="ex yassin" formControlName="FirstName">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field> 
    
          <mat-form-field appearance="outline">
            <mat-label> author last name</mat-label>
            <input matInput placeholder="nouri" type="text" for mControlName="LastName">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field> 
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput type="email" placeholder="ex yassin@gmail.com" formControlName="email">
           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field> 
          <mat-form-field appearance="outline">
            <mat-label>date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        </div>
        
        <div class="row">
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-label><b>gender</b></mat-label>
            <mat-radio-button value="male">male </mat-radio-button>
            <mat-radio-button value="female">female</mat-radio-button>
          </mat-radio-group>
    
        </div >
        <div class="row"> 
          <mat-form-field appearance="outline">
          <mat-label>topic</mat-label>
          <mat-select formControlName="poste">
            <mat-option *ngFor="let val of poste" [value]="val">{{val}}
            </mat-option>
          </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
          <mat-label>description</mat-label>
          <input matInput placeholder="ex.sté" type="textarea" formControlName="stprec">
          </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>experience</mat-label>
              <input matInput placeholder="ex.4" type="number" formControlName="experience">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="yassin123" type="text" formControlName="package">
                </mat-form-field>
          </div>
    
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ?'Update':'save'}} </button>
</div>
